*.lock export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
AGENTS.md export-ignore
LICENSE export-ignore
Makefile export-ignore
README.md export-ignore
bunfig.toml export-ignore
composer.* export-ignore
happydom.ts export-ignore
index.php export-ignore
js/forma.js export-ignore
js/forma.test.js export-ignore
package.json export-ignore
test/ export-ignore
